    *{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    body{
        font-family: sans-serif;
    }
    .head-2{
        text-align: center;
        color: #2d3436;
        font-size: 22px;
        padding: 15px 0;
        text-transform: capitalize;
    }
    .p-med{
        color: #666666;
        font-size: 17px;
        text-align: center;
    }
  a{
      text-decoration: none;
  }
  .card-title {
    color: #2d3436;
    font-size: 18px;
  }